/* Single agent in the drop-down. Should look like a stock UI list item, using system font, colors etc. */

:root {
    color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
    width: 60em;
    height: 40em;
    font: system-ui;
}

#refresh {
    font-size: 30px;
    padding: 0;
    height: 30px;
    aspect-ratio: 1/1;
    background-color: ButtonFace;
    background-image: url(reload.svg);
    background-position: center center;
    background-size: contain;
}

#refresh:hover {
    cursor: pointer;
    background-color: SelectedItem;
    background-image: url(reload-hover.svg);
}

#loading {
    width: 100%;
}

#agents {
    max-width: 30em;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    border: 1px solid #FFF2
}

div.agent {
    margin: 0;
    padding: 0.1em 0.5em;
    color: CanvasText;
    background-color: Canvas;
    text-wrap: nowrap;
}

div.agent:hover {
    background-color: SelectedItem;
    color: SelectedItemText;
    cursor: pointer;
}

div.agent * {
    vertical-align: middle;
}

div.agent img {
    margin-right: 0.5em;
    background: lightgray;
}

textarea {
    resize: none;
    font: system-ui;
}
